/* Aeonik Font Family */

@font-face {
  font-family: 'Aeonik';
  src: url('./fonts/AeonikTRIAL-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik';
  src: url('./fonts/AeonikTRIAL-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik';
  src: url('./fonts/AeonikTRIAL-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik';
  src: url('./fonts/AeonikTRIAL-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik';
  src: url('./fonts/AeonikTRIAL-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik';
  src: url('./fonts/AeonikTRIAL-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Global background and overscroll settings */
html {
  background-color: #F6F7F9;
  min-height: 100%;
  overscroll-behavior: none;
}

body {
  background-color: #F6F7F9;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overscroll-behavior: none;
}

#root {
  background-color: #F6F7F9;
  min-height: 100vh;
  overscroll-behavior: none;
}

/* Global font settings */
* {
  font-family: 'Aeonik', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

